<div class="center_title">
  <h1>Apple Payload Stats</h1>
</div>

<div class="center_links">
  <ul>
    <li><h4>{{link-to 'Top Urls' 'urls'}}</h4></li>
    <li><h4>{{link-to 'Top Referrers' 'referrers'}}</h4></li>
  </ul>
</div>

{{outlet}}
