<h1 class="text-center"> It's all about the stat's! </h1>

<div class="text-center">
  {{link-to 'Top Urls' 'urls' classNames="btn btn-primary btn-lg"}}
  {{link-to 'Top Referrers' 'referrers' classNames="btn btn-primary btn-lg"}}
</div>
