<h1> All Payloads </h1>

<table class="table table-bordered table-striped">
  <tr class="payload-header">
    <th class="payload-header-url">URL</th>
    <th class="payload-header-referrer">REFERRER</th>
    <th class="payload-header-created_at">CREATED AT</th>
  </tr>
  <tbody>
  {{#each model as |payload|}}
  <tr class="payload-row">
    <td>
      <div class="payload-url">
        <p>{{payload.url}}</p>
      </div>
    </td>
    <td>
      <div class="payload-referrer">
        <p>{{payload.referrer}}</p>
      </div>
    </td>
    <td class="payload-created_at">
      <p>{{payload.created_at}}</p>
    </td>
    </tr>
    {{/each}}
  </tbody>
  </table>
