<div class="urls text-center">
  <h2> Top Visited Urls</h2>
  <h3> (Over the past 5 days) </h3>
</div>

<div class="row text-center">
  <div class="col-md-4"></div>
  <div class="col-md-4 centered">
  {{data}}
  {{#each dates as |date|}}
    <h3>{{date.date}}</h3>
    <table class="table table-bordered table-striped">
      <tr>
        <th class="url-header-url">URL</th>
        <th class="url-header-visits">Visits</th>
      </tr>
      <tbody>
      {{#each date.urls as |url|}}
        <tr>
          <td> {{url.url}} </td>
          <td> {{url.visits}} </td>
        </tr>
      {{/each}}
    </tbody>
    </table>
  {{/each}}
  </div>
  <div class="col-md-4"></div>
</div>
