<div class="urls text-center">
  <h2> Top Urls Over Past 5 Days</h2>
</div>

<div class="top_urls text-center">
  {{#each dates as |date|}}
    <h2>{{date.date}}</h2>
        {{#each date.urls as |url|}}
          URL: {{url.url}}, Visits: {{url.visits}}<br>
        {{/each}}
  {{/each}}
</div>
