<div class="urls text-center">
  <h2> Top Urls Over Past 5 Days</h2>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 centered">
  {{data}}
  {{#each dates as |date|}}
    <h2>{{date.date}}</h2>
        {{#each date.urls as |url|}}
          <strong>Url:</strong>  {{url.url}}<br>
          <strong>Times visted: </strong> {{url.visits}}<br>
          <br>
        {{/each}}
      <br>
  {{/each}}
  </div>
  <div class="col-md-4"></div>
</div>
